<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add xdt:Transform="SetAttributes"
             xdt:Locator="Match(name)"
             name="TodoContext"
             connectionString="Server=8ec53d85-3c05-4ac5-88c5-a1db00224272.sqlserver.sequelizer.com;Database=db8ec53d853c054ac588c5a1db00224272;User ID=bjsppvwpqsrcydiw;Password=DfhhYXJbuhqCJ3Ay7JEvRkxUrR8TyY6SvjTJBWGnURpBHybSrqiwLaktQvYhXYJC;" />
    </connectionStrings>
</configuration>